body{
    background-image: url("ram.jpg");
    background-size: cover;
}

.character-card {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f8f9fa;
}

.character-img {
    border-radius: 50%;
    max-width: 150px;
    margin-bottom: 15px;
}

#loading {
    display: none;
    margin: 20px 0;
    text-align: center;
}

.btn-rick {
    background-color: #42b983;
    color: white;
    margin: 5px;
}

.btn-rick:hover {
    background-color: #369f6b;
    color: white;
}

.active-nav {
    font-weight: bold;
    color: #42b983 !important;
}